@model Classified
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 class="text-center">@ViewBag.Categories.Name</h1>
    <div class="d-flex justify-content-around text-center">
        <div>
            <h1>Products</h1>
            @{
                foreach(var product in ViewBag.Categories.Belongings)
                {
                    <div>@product.Product.Name</div>
                }
            }
        </div>
        <div>
            <form asp-controller = "Category" asp-action="CreateAssoc" asp-route-categoryId = "@ViewBag.Categories.Categoryid" method = "POST">
                <label>Add Products!</label>
                <select asp-for = "Productid">
                    @{
                        foreach (var product in ViewBag.Products)
                        {
                            <option value = "@product.Productid">@product.Name</option>
                        }
                    }
                </select>
                <button>Add!</button>

            </form>
        </div>






    </div>
</body>
</html>