@model Event

@{
  int? uid = Context.Session.GetInt32("UserId");
  bool alreadyJoined = Model.EventUserJoins.Any(j => j.UserId == uid);
  
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="d-flex justify-content-between">
        <h1>Dojo Meet Up Center</h1>
        
        
        <form asp-controller= "Event" asp-action='Dashboard' method="GET">
            <button>Dashboard</button>
        </form>
        <form asp-controller= "Home" asp-action='LogOut' method="POST">
            <button>Logout</button>
        </form>
    </div>
    <div class="d-flex justify-content-between">
        <h1>@Model.Title</h1>
        @if (Model.UserId == uid)
        {
            <form asp-controller = "Event" asp-action="Delete" asp-route-eventId= "@Model.EventId" method="POST">
                <button>Delete</button>
            </form>
        }
        @if (alreadyJoined && Model.UserId != uid)
        {
            <form asp-controller="Event" asp-action="UserEventJoin" asp-route-eventId="@Model.EventId" method="POST">
                <button>Leave</button>
            </form>
        }
        @if (alreadyJoined == false && Model.UserId != uid)
        {
            <form asp-controller="Event" asp-action="UserEventJoin" asp-route-eventId="@Model.EventId" method="POST">
                <button>Join</button>
            </form>
        }
        
    </div>
    <h2>Event Coordinator: @Model.Planner.FirstName</h2>
    <h2>Description:</h2>
    <p>@Model.Description</p>
    <h2>Participants</h2>

    @{
        foreach (EventUserJoin guest in Model.EventUserJoins)
        {
            <div>@guest.User.FirstName</div>
        }
    }
</body>
</html>