<div class="card">
    <div class="card-header bg-dark text-light">Level 1</div>
    <div class="card-body">
        <p>Using the SportsORM, complete all the following queries and show their results on Level1.cshtml.</p>
        <ol>
            <li>...all womens' leagues</li>'
            <hr/>
            @{
                foreach ( var league in ViewBag.WomensLeagues)
                {
                    <p>@league.Name</p>
                }
            }
            <hr/>
            <li>...all leagues where sport is any type of hockey</li>
            <hr/>

            @{
                foreach ( var league in ViewBag.HockeyLeauges)
                {
                    <p>@league.Name</p>
                }
            }
            <hr/>
            
            <li>...all leagues where sport is something OTHER THAN football</li>
            <hr/>
            @{
                foreach ( var league in ViewBag.NoFootball)
                {
                    <p>@league.Name</p>
                }
            }          
            <hr/>  
            <li>...all leagues that call themselves "conferences"</li>
            <hr/>
            @{
                foreach ( var league in ViewBag.Conferences)
                {
                    <p>@league.Name</p>
                }
            }       
            <hr/>        
            <li>...all leagues in the Atlantic region</li>
            <hr/>
            @{
                foreach ( var league in ViewBag.Atlantic)
                {
                    <p>@league.Name</p>
                }
            }       
            <hr/>                
            <li>...all teams based in Dallas</li>
            <hr/>
            @{
                foreach ( var league in ViewBag.Dallas)
                {
                    <p>@league.TeamName</p>
                }
            }       
            <hr/>                
            <li>...all teams named the Raptors</li>
            <hr/>
            @{
                foreach ( var league in ViewBag.Raptors)
                {
                    <p>@league.Location @league.TeamName</p>
                }
            }       
            <hr/>             
            <li>...all teams whose location includes "City"</li>
            <hr/>
            @{
                foreach ( var league in ViewBag.City)
                {
                    <p>@league.Location @league.TeamName</p>
                }
            }       
            <hr/>             
            <li>...all teams whose names begin with "T"</li>
            <hr/>
            @{
                foreach ( var league in ViewBag.T)
                {
                    <p>@league.Location @league.TeamName</p>
                }
            }       
            <hr/>             
            <li>...all teams, ordered alphabetically by location</li>
            <hr/>
            @{
                foreach ( var league in ViewBag.Alpha)
                {
                    <p>@league.Location @league.TeamName</p>
                }
            }       
            <hr/>             
            <li>...all teams, ordered by team name in reverse alphabetical order</li>
            <hr/>
            @{
                foreach ( var league in ViewBag.ReverseAlpha)
                {
                    <p>@league.Location @league.TeamName</p>
                }
            }       
            <hr/>             
            <li>...every player with last name "Cooper"</li>
            <hr/>
            @{
                foreach ( var league in ViewBag.Cooper)
                {
                    <p>@league.FirstName @league.LastName</p>
                }
            }       
            <hr/>             
            <li>...every player with first name "Joshua"</li>
            <hr/>
            @{
                foreach ( var league in ViewBag.Joshua)
                {
                    <p>@league.FirstName @league.LastName</p>
                }
            }       
            <hr/>             
            <li>...every player with last name "Cooper" EXCEPT those with "Joshua" as the first name</li>
            <hr/>
            @{
                foreach ( var league in ViewBag.CooperNoJosh)
                {
                    <p>@league.FirstName @league.LastName</p>
                }
            }       
            <hr/>             
            <li>...all players with first name "Alexander" OR first name "Wyatt"</li>
            <hr/>
            @{
                foreach ( var league in ViewBag.AlexanderWyatt)
                {
                    <p>@league.FirstName @league.LastName</p>
                }
            }       
            <hr/>             
        </ol>
    </div>
</div>